body{
    background-color: rgb(49, 49, 46);
}
.main{
   margin-top: 150px;
   border-style: solid;
   border-color: goldenrod;
   border-width: 10px;
   height: 320px;
    background-image: url("images/background2.jpg");
}

#text{
    height: 100px;
}

tr{
    color: white;
}

iframe{
    border: 5px;
    border-style: solid;
    border-color: rgb(191, 197, 202);
}


h1{
    font-size: 70px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(191, 197, 202);

}

#cleveland:hover {
        transform: scale(1.5); 
        
}

#miami:hover {
    transform: scale(1.5); 
    

}

#cavs:hover {
    transform: scale(1.5); 
    

}

#lakers:hover {
    transform: scale(1.5); 
    

}

#three_ten{
    font-size: 60px;
}