body{
    background-color: black;
}
.main{
   margin-top: 150px;
   border-style: solid;
   border-color: goldenrod;
   border-width: 10px;
   height: 320px;
    background-image: url("images/background2.jpg");
}

#text{
    height: 100px;
}

h1{
    font-size: 80px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(191, 197, 202);

}
