body{
    background-color: rgb(49, 49, 46);
}
.main{
   margin-top: 150px;
   border-style: solid;
   border-color: goldenrod;
   border-width: 10px;
   height: 320px;
    background-image: url("images/background2.jpg");
}

#text{
    height: 100px;
}

h1{
    font-size: 70px;
    font-family: 'Permanent Marker', cursive;
    color: rgb(191, 197, 202);

}

#cleveland:hover {
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#miami:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#cavs:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

#lakers:hover {
    transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
